html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

 body {
    background: #a8f6f8;
    color: #000;
    font-family: 'Cardo', 'Palatino', 'Georgia', serif;
    margin: 0;

}

h1 {
    font-family: 'Poppins', 'Verdana', 'Tahoma', sans-serif;
}


header {
  background: #f98dc9;
  color: #000;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

article {
	display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  max-width: 800px;
}

section.blurb {
  background: #fff;
  color: #000;
  padding: 1rem 2rem;
  font-size: 120%;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.carousel {
  width:600px;
  height:400px;
  margin: auto;
}

button {
  background-color: #fff;
  border: 1px solid;
  padding: 15px;
  border-radius: 12px;
}

button:hover{
  background-color: #ffb6c1;
  color: #fff;
}

button:focus{
  background-color: #add8e6;
}

.buttoncateg {
  text-align: center;
}

.categTwo {
  padding-top: 1rem;
}

.container {
  margin: auto;
  max-width: 700px;
}

.clickmarker {
  margin-top: 2rem;
}

#mapOne {
height: 500px;
width: 700px;
margin: 2rem 0 3rem 0;
border: 1px solid #999;
font-size: 100%;
}

#mapTwo {
height: 500px;
width: 700px;
margin: 2rem 0 3rem 0;
border: 1px solid #999;
font-size: 100%;
}

#mapThree {
height: 500px;
width: 700px;
margin: 2rem 0 3rem 0;
border: 1px solid #999;
font-size: 100%;
}

#mapFour {
height: 500px;
width: 700px;
margin: 2rem 0 3rem 0;
border: 1px solid #999;
font-size: 100%;
}

#mapFive {
height: 500px;
width: 700px;
margin: 2rem 0 3rem 0;
border: 1px solid #999;
font-size: 100%;
}

#mapSix {
height: 500px;
width: 700px;
margin: 2rem 0 3rem 0;
border: 1px solid #999;
font-size: 100%;
}

.center {
  text-align: center;
  padding-top: 1rem;
}

p {
    line-height: 1.5;
}

footer {
  background: #f98dc9;
  color: #000;
  text-align: center;
  padding: .5rem;
  margin: 3rem 0 0 0;
  font-size: 120%;

}

 a {
    color: #00008A;
}

a:hover {
    color: #330F52;
}

.bib {
  color: #000;
  font-weight: bold;
}

@media screen and (max-width: 700px) {

    #mapOne, #mapTwo, #mapThree, #mapFour, #mapFive, #mapSix {
      width: 100%;
    }

    section {
      max-width: 100%;
    }

  .carousel {
    max-width: 100%;
    height: 200px;
  }
  
}
